@mixin container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.formaDodaj,.form-section,.formaLogin,.adminUserCreate {
    border-radius: 5px;
    @include container-column;
    
    input,select {
      width: 500px;
      margin: 10px;
      padding: 10px;
      border: 1px solid #222;
      border-radius: 20px;
    }
  
    button {
        width: 500px;
        height: 50px; 
        border: 1px solid #ccc;
        border-radius: 5px;
    }
  }